<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id = "fruktkorgServlet" class = "com.evry.fruktkorgrest.servlet.FruktkorgServlet">
        <constructor-arg ref="fruktkorgController" />
        <constructor-arg ref="fruktController" />
        <constructor-arg ref="reportController" />
    </bean>

    <bean id = "fruktController" class = "com.evry.fruktkorgrest.controller.FruktController">
        <constructor-arg ref="fruktService" />
    </bean>

    <bean id = "fruktService" class = "com.evry.fruktkorgservice.service.FruktService">
        <constructor-arg ref="fruktDAO"/>
    </bean>

    <bean id = "fruktDAO" class="com.evry.fruktkorgpersistence.dao.FruktDAO" />

    <bean id = "fruktkorgController" class = "com.evry.fruktkorgrest.controller.FruktkorgController">
        <constructor-arg ref="fruktkorgService" />
    </bean>

    <bean id = "fruktkorgService" class = "com.evry.fruktkorgservice.service.FruktkorgService">
        <constructor-arg ref="fruktkorgDAO"/>
        <constructor-arg ref="fruktDAO"/>
    </bean>

    <bean id = "fruktkorgDAO" class="com.evry.fruktkorgpersistence.dao.FruktkorgDAO" />

    <bean id = "reportController" class = "com.evry.fruktkorgrest.controller.ReportController">
        <constructor-arg ref="reportService" />
    </bean>

    <bean id = "reportService" class = "com.evry.fruktkorgservice.service.ReportService">
        <constructor-arg ref="reportDAO" />
        <constructor-arg ref="fruktkorgService" />
    </bean>

    <bean id = "reportDAO" class="com.evry.fruktkorgpersistence.dao.ReportDAO" />

    <bean id="myEmf" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="prodPU"/>
    </bean>

    <bean id="liquibase" class="liquibase.integration.spring.SpringLiquibase">
        <property name="dataSource" ref="dataSource" />
        <property name="changeLog" value="db-changelog.sql" />
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/frukteriet"/>
        <property name="username" value="fruktmannen"/>
        <property name="password" value=""/>
    </bean>

    <!--<bean id="simpleJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">-->
        <!--<property name="targetObject" ref="fruktkorgServlet" />-->
        <!--<property name="targetMethod" value="test" />-->
    <!--</bean>-->

    <bean name="complexJobDetail"    class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.evry.fruktkorgrest.job.FruktkorgReportJob" />
        <property name="jobDataMap">
            <map>
                <entry key="reportService" value-ref="reportService" />
            </map>
        </property>
        <property name="durability" value="true" />
    </bean>

    <bean id="cronTrigger"  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="complexJobDetail" />
        <property name="cronExpression" value="0 * * * * ?" />
    </bean>

    <bean  class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobDetails">
            <list>
                <ref bean="complexJobDetail" />
            </list>
        </property>

        <property name="triggers">
            <list>
                <ref bean="cronTrigger" />
            </list>
        </property>
    </bean>

</beans>