<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id = "fruktkorgServlet" class = "com.evry.fruktkorgrest.servlet.FruktkorgServlet">
        <constructor-arg ref="fruktkorgController" />
    </bean>

    <bean id = "fruktkorgController" class = "com.evry.fruktkorgrest.controller.FruktkorgController">
        <constructor-arg ref="fruktkorgService" />
    </bean>

    <bean id = "fruktkorgService" class = "com.evry.fruktkorgservice.service.FruktkorgServiceImpl">
        <constructor-arg ref="fruktkorgDAO"/>
    </bean>

    <bean id = "fruktkorgDAO" class="com.evry.fruktkorgpersistence.dao.FruktkorgDAOImpl" />

    <bean id="myEmf" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="prodPU"/>
    </bean>

    <bean id="liquibase" class="liquibase.integration.spring.SpringLiquibase">
        <property name="dataSource" ref="dataSource" />
        <property name="changeLog" value="db-changelog.sql" />
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/frukteriet"/>
        <property name="username" value="fruktmannen"/>
        <property name="password" value=""/>
    </bean>

</beans>